

<ion-content [fullscreen]="true">
  
   
  <div  style="display: flex;justify-content:space-between;align-items: center;">
   <img  [src]="logo"  height="80px" 
   alt="">
   <p style="font-size: 20px;margin-right: 5%;">Date: {{date.toLocaleDateString()}}</p>
 
 </div>
<div id="container">


  
  <table>

    <tr>
      <th>CURRENCY</th>
      <th>BUY</th>
      <th>SELL</th>
    </tr>
    <tr *ngFor="let data of curreny;">
      <td> <div style="display: flex;
        align-items: center;">
        <div class="flagsss"  [style.background-image]="'url(' + data.currencylogo + ')'" style="height: 40px;width: 70px;
        width: 100px;

        background-repeat: no-repeat;
        background-size: contain;"></div>
  
        <h6 class="ion-no-margin">{{ data.currencyname }}</h6>
      </div></td>
      <td>{{ data.Buy }}</td>
      <td>{{ data.Sell }}</td>
    </tr>
  </table>
  <marquee width = "100%" #marq>
    <div [innerHTML]="getMarquevalue()" class="inner" style="font-size: 22px;"></div>
  </marquee>
  <div style="display: flex;justify-content: center;flex-direction: row;align-items: center;">
    <h5 style="margin: 0px;">Powered By</h5>
    <img src="../../assets/09.jpeg" height="150px" alt="">
  </div>
  
</div>



</ion-content>

